/* =============================
	BACKSTRETCH
============================= */
.backstretch {
	position: fixed;

	height: 100vh;
	width: 100%;
	z-index: -100;

	background-color: #165F88;
	background-image: url("../img/vector-lighthouse.svg") !important;
	background-position: center calc(50% - 3em);
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* iOS safari bottom bar fix */
	transform: translate3d(0,0,0);
}



/* =============================
	NAVBAR
============================= */
nav {
	background-color: #DAF1FF;
	box-shadow: 0 7px 10px -5px #333;
}

.navbar-brand { text-transform: uppercase; }



/* =============================
	HOME
============================= */
.home { 
	position: relative;
	top: 20vh;
	height: 95vh;
	text-align: center;
	color: white;
	text-shadow: 	1px 1px 3px #333,
					-1px 1px 3px #333;
}

.home h1 {
	font-size: 4em;
	font-weight: 300;
	line-height: 2ex;
	letter-spacing: 0.03em;
}

.home h2 {
	text-transform: uppercase;
	font-weight: 300;
}



/* =============================
	ABOUT
============================= */
.about {
	background-color: #165F88;
	box-shadow: 0 -7PX 10PX -5PX #333;
	padding: 7em 1% 7em 1%;
	color: #222;
	overflow: hidden;
}

.about h1 {
	font-size: 3em;
	margin-bottom: 1em;
	text-align: center;
}

.about h2 { 
	font-size: 1em;
	font-weight: 700;
}

.img-container { margin-bottom: 1em; }

.img-container img {
	max-height: 300px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
}



/* =============================
	PROJECTS
============================= */
.projects {
	background-color: #2581B2;
	box-shadow: 0 -7PX 10PX -5PX #333;
	padding: 7em 1% 7em 1%;
	overflow: hidden;
}

.projects h1 {
	font-size: 3em;
	margin-bottom: 1em;
	text-align: center;
}


	/* === CARDS === */

		/* [[[ CARD FLIP ]]] */

			/* controls flip animation perspective */
			.card-container {
				-webkit-perspective: 800px;
				-moz-perspective: 800px;
				-o-perspective: 800px;
				perspective: 800px;

				margin-bottom: 30px;
			}

			/* do not roate if .manual-flip class */
			.card-container:not(.manual-flip):hover .card,
			.card-container.hover.manual-flip .card {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);
			}

			/* flip animation speed */
			.card {
				-webkit-transition: -webkit-transform 0.8s;
				-moz-transition: -moz-transform 0.8s;
				-o-transition: -o-transform 0.8s;
				transition: transform 0.8s;

				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
				transform-style: preserve-3d;

				position: relative;
			}

			/* hide back-side of card */
			.card-front, .card-back {
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-o-backface-visibility: hidden;
				backface-visibility: hidden;

				position: absolute !important;
				background-color: #FFF;
			}

			/* card-front placed above back */
			.card-front { z-index: 2; }

			/* card-back initially hidden */
			.card-back {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);

				z-index: 3;
			}

			/* card height and width */
			.card-container, .card-front, .card-back {
				width: 100%;
				height: 365px;
			}


		/* [[[ CARD STYLES ]]] */
		.card, .card img {
			border: 0px;
			border-radius: 0;
		}

		.card h1 { font-size: 2em; }

		.card-front .card-content-header { height: 100%; overflow: hidden; }

		.card-content-main { padding: 10px; }

		.card-front .card-content-main {
			position: absolute;
			top: 0%;
			color: white;
			text-shadow:-1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						1px 1px 0 #000;
		}

		.card-back .card-content-main {
			height: 245px;
		}

		.card-content-footer {
			position: absolute;
			bottom: 3px;
			right: -3px;
			width: 100%;
			background-color: #ADADAD;
			border-radius: 100px 0 0 15px;
			padding: 8px 110px 8px 30px;
			text-align: right;
			box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		}

		.card-back .card-content-footer {
			left: 0;
			border-radius: 0 100px 15px 0;
			padding: 3px 0 2px 5px;
			margin-left: -3px;
			text-align: left;
		}

		.dummy-spacer {
			height: 167px;
			width: 0px;
			float: right;
		}

		.dummy-flip {
			float: right;
			clear: right;
			height: 160px;
			width: 75px;
		}

		.card-flip-btn {
			position: absolute;
			bottom: 25%;
			right: 20px;

			cursor: pointer;
			color: white;
			background-color: #F0AD4E;
			border-radius: 50%;
			padding: 10px 13px 10px 13px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.75),
						0 3px 6px rgba(0, 0, 0, 0.16),
						0 0 0 5px rgba(255, 255, 255, 1);
		}

		.card-back .card-flip-btn { right: 14px }

		.card-flip-btn p {
			position: absolute;
			top: 20%;
			left: 20%;
			font-size: 2em;
			text-shadow: 1px 1px 0 #000,
						-1px 1px 0 #000,
						1px -1px 0 #000,
						-1px -1px 0 #000,
						0px 1px 0 #000,
						0px -1px 0 #000,
						-1px 0px 0 #000;
		}



/* =============================
	SCROLLBARS
============================= */
/*
::-webkit-scrollbar-track,
.card-content-main::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar,
.card-content-main::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb,
.card-content-main::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
						color-stop(.5, rgba(255, 255, 255, .2)),
						color-stop(.5, transparent), to(transparent));
}
*/