/*
	=============================
	Body / Custom Styles
	=============================
*/
body {
	background-color: #165F88;
	background-image: url("https://cdn.rawgit.com/Squibs/freeCodeCamp/79ab8ae5/Images/vector-lighthouse.svg");
	background-repeat: no-repeat;
	background-position: center calc(50% - 100px);
	background-attachment: fixed;
	background-size: cover;
	padding-top: 80px;
}

/*
	=============================
	Header / Home
	=============================
*/
.home {
	text-align: center;
	position: relative;
	top: 10vh;
	text-shadow: 0 0 0.45em black;
	color: white;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	line-height: 2ex;
	letter-spacing: 2px;
}

h2 {
	text-transform: uppercase;
	font-weight: 300;
}

/*
	=============================
	About
	=============================
*/
.about {
	background-color: #165F88;
	box-shadow: 0 -7px 10px -5px #333;
	padding: 100px 20% 100px 20%;
	position: relative;
}

@media screen and (min-width: 1px) and (max-width: 359px) {
	.about {
		top: 28vh;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	.about {
		top: 39vh;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	.about {
		top: 68vh;
	}
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
	.about {
		top: 74vh;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
	.about {
		top: 86vh;
	}
}

@media screen and (min-width: 1800px) {
	.about {
		top: 84vh;
	}
}